@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

.container {
  margin: 0 32px;
}


header > img {
  width: 300px;
}

main#home {
  p {
    font-size: 2rem;
  }
}


@media only screen and (min-width: 720px) {
  .container {
    margin: 0 120px;
  }
}