header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;

  img {
    width: 200px;
    padding: 24px 0;
  }
}

main {
  height: calc(100vh - 72px);
}

main#home {
  background-image: url("../images/bg.png");
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;

    p {
      background-color: #0000003c;
      color: $white;

      width: fit-content;
      padding: 8px 16px;
      border-radius: 8px;

      font-weight: 800;
      font-size: $heading-fs-large;
    }

    input {
      font-size: $p-fs-large;
      width: 80vw;
      padding: 12px 16px;
      border-radius: 8px;
      border: none;
      box-shadow: 4px 4px 4px #00000012;
    }
  }
}

main#recipeList {
  section.recipe-cards {
    .recipe-card {
      display: flex;
    }

    .recipe-img {
      img {
        width: 150px;
        height: 150px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}

main#recipe {
  section.individual-recipe {
    background-color: #FFE9D5;
    border-radius: 8px;

    height: 80vh;
    overflow-y: scroll;

    margin: 24px 0;
    padding: 24px;

    box-sizing: border-box;

    .recipe-heading {
      display: flex;
      gap: 32px;

      .recipe-labels {
        .recipe-title {
          font-size: $heading-fs-large;
          font-weight: bold;
        }

        .recipe-category {
          font-size: $p-fs-large;

          span {
            font-weight: bold;
          }
        }

        button {
          background-color: $orange;
          color: $white;
          font-weight: 600;
          font-size: $p-fs-large;

          border: none;
          padding: 8px 16px;
          border-radius: 8px;

          &:hover {
            cursor: pointer;
            background-color: $orange-hover;
          }
        }
      }
    }

    .recipe-info {
      p.recipe-header {
        font-weight: bold;
      }

      p {
        font-size: $p-fs-large;
      }

      div {
        margin-bottom: 48px;
      }

      ul, ol {
        li {
          margin: 18px 0;
        }
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  main#home {
    div {
      padding-top: 20vh;

      p {
        font-size: $heading-fs-small;
      }

      input {
        font-size: $p-fs-small;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  main#recipe {
    section.individual-recipe {
      .recipe-heading {
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;

        .recipe-labels {
          text-align: center;
        }
      }
    }
  }
}