@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-main: "Raleway", sans-serif;
$black: #333333;
$black-hover: #000000;
$white: #FFFFFF;
$orange: #FF9244;
$orange-hover: #F7791F;
$red: rgb(227, 38, 76);

// For large devices.
$margin-large: 120px;
$heading-fs-large: 2rem;
$p-fs-large: 1.3rem;

// For small devices.
$margin-medium: 60px;
$margin-small: 32px;
$heading-fs-small: 1.7rem;
$p-fs-small: 1.1rem;