@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-main: "Raleway", sans-serif;
$black: #333333;
$white: #FFFFFF;
$margin-large: 120px;
$margin-medium: 60px;
$margin-small: 32px;